body {
    background-image: url("imgs/mbg.png");
}

p {
    color: blue;
}

.centered {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    color: orangered;
}

ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
    display: flex;
}

li {
    margin-left: 5px;
    margin-right: 5px;
}