/* Quest Gray #A8A7A7
   Middle Safflower #CC527A
   Ruby Dust #E8175D
   Wood Charcoal #474747
   Dark Grey #363636 */

body {
    background-image: url("imgs/mbg.png");
}

p {
    color: blue;
}

.centered {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    color: orangered;
}

ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
    display: flex;
}

li {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid black;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
}

.compete {
    margin-left: 50px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid black;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
}

.nav-link {
    text-decoration: none;
}