{% extends "base.html" %} {% block title %} Profile {% endblock %}
{% block content %} <p class="title">Profile</p> {% endblock %}
{% block content2 %} 
<div class="row">
    <div class="column">
        <select id="options">
            <option value="none" selected disabled hidden>Select a Gamemode</option>
            <option value="option1">Total</option>
            <option value="option2">Ranked</option>
            <option value="option3">Casual</option>
        </select>
        <label for="options">Stats</label>
        <div id="content"></div>
    </div>
    <div class="columnmid">
        <h2 class="get"></h2>
    </div>
    <div class="columnleft">
        <p>testing testing interesting</p><br><br><br><br><p>hj</p>
    </div>
</div> 
{% endblock %}
